.index-main {
  width: 100%;
  height: calc(100vh - 150px);
}

.bg_pattern {
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 150px);
  background-color: #ffffff;
  z-index: -1;
}

.Polka_v2 {
  background-image:  radial-gradient(#ffc107 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
}

.uncompleted-tasks {
  padding: 40px 150px;
}

.uncompleted-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tasks {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 20px;
  font-weight: 600;
}

.task-date {
  font-size: 14px;
}

.task-address {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.task-genre {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.completed-tasks {
  padding: 40px 150px;
}

.completed-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;

}