.index-main {
  width: 100%;
  height: calc(100vh - 150px);
}

.task-box a {
  text-decoration: none;
  color: black;
}

.uncompleted-tasks {
  padding: 40px 150px;
}

.uncompleted-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tasks {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 20px;
  font-weight: 600;
}

.task-date {
  font-size: 14px;
}

.task-address {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.task-genre {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.completed-tasks {
  padding: 40px 150px;
}

.completed-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

