.index-main {
  width: 100%;
  height: calc(100vh - 150px);
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.task-box a {
  text-decoration: none;
  color: black;
}

.uncompleted-tasks {
  width: 30%;
}

.uncompleted-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tasks {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 20px;
  font-weight: 600;
}

.task-date {
  font-size: 8px;
}

.task-deadline {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.task-address {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.task-genre {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.run-tasks {
  width: 30%;
}

.run-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.completed-tasks {
  width: 30%;
}

.completed-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

