.show-task {
  width: 100%;
  padding: 40px 200px;
}

.show-task-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.task-detail {
  width: 100%;
  padding: 20px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.show-title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.show-task-title {
  font-size: 20px;
  font-weight: 600;
}

.show-task-date {
  font-size: 14px;
}

.show-task-address {
  font-size: 20px;
  margin-bottom: 10px;
}

.show-task-genre {
  margin-bottom: 20px;
}

.body-head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.body-content {
  font-size: 20px;
}

/* タスク完了・未完了・削除ボタン */
.confirmation {
  line-height: 50px;
  background-color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.confirm-btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.completed {
  line-height: 50px;
  background-color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.complete-btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.task-delete {
  line-height: 50px;
  background-color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.delete-btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.show-comments {
  width: 100%;
  padding: 0 200px;
}

.show-comment-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.comment-box {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-user-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-area {
  width: 100%;
  padding: 20px 200px;
}

.comment-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.comment-form {
  margin-bottom: 20px;
}

.comment-input {
  width: 100%;
}

.comment-submit-btn {
  width: 100%;
}