.show-task {
  width: 100%;
  padding: 40px 200px;
}

.task-detail {
  width: 100%;
  padding: 20px 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.show-title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.show-task-title {
  font-size: 20px;
  font-weight: 600;
}

.show-task-date {
  font-size: 14px;
}

.show-task-address {
  font-size: 20px;
  margin-bottom: 10px;
}

.show-task-genre {
  margin-bottom: 20px;
}

.body-head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.body-content {
  font-size: 20px;
}

/* タスク完了・未完了ボタン */
.complete {
  border: none;
  border-radius: 10px;
  width: 100%;
  line-height: 50px;
  background-color: black;
  text-align: center;
  margin-top: 30px;
}

.complete-btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}