<header class="second-header">
  <%= link_to root_path do %>
    <div class="second-header-logo">
      Task Manager
    </div>
    <div class="second-header-logo-subtitle">
      for Teacher
    </div>
  <% end %>
</header>